/* Светлая тема (по умолчанию) */
:root {
  --background-color: #ffffff;
  --text-color: #1d1c1c;
  --light-dark-background-color: #ffffff;
  --light-dark-text-color: #273f2c;
}

/* Темная тема */
[data-theme="dark"] {
  --background-color: #282828;
  --text-color: #3cb756;
  --light-dark-background-color: #4e5e49;
  --light-dark-text-color: #59f37b;
}

/* Общие стили */
html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: fit-content;
  width: 100%;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  margin: 2rem;
  min-height: 90vh;
  min-width: 320px;
  max-width: 1024px;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

/* Адаптивные стили для мобильных устройств */
@media only screen and (max-width: 600px) {
  .main {
    margin: 0.5rem;
    min-height: 80vh;
    min-width: auto;
    max-width: 90vw;
    width: 95%; /* Можно сделать еще меньше, если требуется */
    border-radius: 0.5rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: inherit;
}